<article id="<%= post.layout %>-<%= post.slug %>"
  class="article-card article-type-<%= post.layout %>" itemprop="blogPost">

    <% if(post.photos && post.photos.length != 0) { %>
        <div class="post-list-gallery" >
            <% for(var i in post.photos) {%>
                <img src="<%- post.photos[i] %>" class="post-list-img" itemprop="postListImgUrl"/>
            <% } %>
        </div>
    <% } %>
    <div class="post-list-content" id="post-list-content" itemprop="postListContent">
    <% if(!post.photos ||(post.photos && post.photos.length == 0)) { %>
        <div class="post-list-meta-ico ">

            <img src="/img/icon/icon-<%- Math.floor(Math.random()*5+1) %>.png"/>
        </div>
    <% } %>
        <!-- title -->
            <% if (post.link){ %>
                <h3 class="post-list-title" itemprop="name">
                   <a class="post-list-title-link" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%- post.title %></a>
                </h3>
            <% } else if (post.title){ %>
                <h3 class="post-list-title" itemprop="name">
                   <a class="post-list-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
                </h3>
            <% } %>
        
        <!-- content -->
        <%- partial('minwidget/item-content',{post:post}) %>
    
        <div class="post-list-seg"></div>
        <!-- post-meta -->
        <div class="post-meta">
            <time class="post-meta-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <%- partial('../post/date', {date_format: config.date_format}) %>
            </time>
            <!-- post categories -->
            <% if(post.categories && post.categories.length){ %>
                <span class="post-meta-categories">
                    <i class="fa fa-flag" aria-hidden="true"></i>
                    <%- partial('minwidget/item-category',{post:post}) %>
                </span>
            <% } %>
            <!-- post tags -->
            <% if(post.tags && post.tags.length){ %>
                <span class="post-meta-tags">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    <%- partial('../post/tag') %>
                </span>
            <% } %>
        </div>
    </div>

</article>
