<blockquote class="post-copyright">
    <% if(theme.postMessage || theme.show_last_updated) { %>
    <div class="content">
        <%- partial('updated') %>
        <% if(theme.postMessage) {%>
        <%- _.template(theme.postMessage)(locals) %>
        <% } %>
    </div>
    <% } %>
    <author class="post-author">
        <a href="<%- config.url %>">
            <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
            <%- config.author %>
        </a>
    </author>
</blockquote>
